@font-face {
  font-family: 'nissan_regular';
  src: url('./fonts/nissan/regular.otf');
}

@font-face {
  font-family: 'nissan_light';
  src: url('./fonts/nissan/light.otf');
}

@font-face {
  font-family: 'nissan_bold';
  src: url('./fonts/nissan/bold.otf');
}
