// colors

// font_color
$fc: #000000;
// background_color
$bc: #ffffff;
// default_color
$dc: #c31631;
// alter_color
$ac: #0abab5;

// fonts

$ff: nissan_light;
$fs: 16px;
$fw: 300;
$lh: 25.6px;
$tt: inherit;

$ff__mark: nissan_regular;
$fs__mark: 16px;
$fw__mark: 400;
$lh__mark: 25.6px;
$tt__mark: uppercase;

$ff__h1: nissan_light;
$fs__h1: 30px;
$fw__h1: 300;
$lh__h1: 64px;
$tt__h1: uppercase;

$ff__h2: nissan_regular;
$fs__h2: 26px;
$fw__h2: 300;
$lh__h2: 48px;
$tt__h2: inherit;

$ff__h3: nissan_bold;
$fs__h3: 16px;
$fw__h3: 300;
$lh__h3: 32px;
$tt__h3: inherit;

// animation

$animation_time: 120ms;
$animation_method: linear;
