@use '@styles/vars';

$scroll_width: 4px;
$scroll_border_radius: 0px;
$scroll_border_width: 1px;

@mixin scroll_style {
  ::-webkit-scrollbar {
    width: calc($scroll_width + 2 * $scroll_border_width);
  }

  // btn-s
  ::-webkit-scrollbar-button {
    display: none;
  }

  // пустое пространство под индикатором прокрутки
  ::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, vars.$bc, vars.$bc);
  }

  // индикатор прокрутки
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, vars.$ac, vars.$ac);
    border-radius: $scroll_border_radius;
    border: solid $scroll_border_width vars.$bc;
  }
}
